
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Gretong a Ecommerce Admin Panel Category Flat Bootstrap Responsive Web Template | Validation :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="/Content/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="/Content/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="/Content/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="/Content/css/icon-font.min.css" type='text/css' />
    <script src="/Content/js/simpleCart.min.js"> </script>
    <script src="/Content/js/amcharts.js"></script>
    <script src="/Content/js/serial.js"></script>
    <script src="/Content/js/light.js"></script>
    <!-- //lined-icons -->
    <script src="/Content/js/jquery-1.10.2.min.js"></script>
    <!--pie-chart--->
    <script src="/Content/js/pie-chart.js" type="text/javascript"></script>
</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="content">
            <img src="/Content/images/Kurumsal.png" class="img-responsive" alt="">
            <div class="inner-content">
                <!-- header-starts -->
                <!-- //header-ends -->
                <!--content-->

                <div class="women_main">
                    <!-- start content -->
                    <div class="grids">
                        <div class="progressbar-heading grids-heading">
                            <h2>İş Takip Sistemi</h2>
                        </div>
                        <div class="forms-grids">
                            <div class="col-lg-12">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                    <div class="panel panel-widget">
                                        <div class="validation-grids validation-grids-right">
                                            <div class="widget-shadow login-form-shadow" data-example-id="basic-forms">
                                                <div class="input-info">
                                                    <h3>Kullanıcı Girişi :</h3>
                                                </div>
                                                <div class="form-body form-body-info">
                                                    <form action="/Kullanici/KullaniciGiris" method="post">
                                                        <div class="form-group">
                                                            <input type="text" maxlength="15" class="form-control" placeholder="Kullanıcı No Giriniz" name="KullaniciNo" required="">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" maxlength="15" class="form-control" placeholder="Şifrenizi Giriniz" name="Sifre" required="">
                                                        </div>
                                                        <div class="bottom">
                                                            <div class="form-group">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox">
                                                                        Beni Hatırla
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="submit" class="btn btn-primary">Sisteme Giriş</button>
                                                            </div>
                                                            @if (ViewBag.Mesaj != null)
                                                            {
                                                                <span style="color:red;font-size:16px;">@ViewBag.Mesaj</span>
                                                            }
                                                            <div class="clearfix"> </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4"></div>
                                @*<div class="col-lg-6">
                                        <div class="panel panel-widget">
                                            <div class="validation-grids validation-grids-right">
                                                <div class="widget-shadow login-form-shadow" data-example-id="basic-forms">
                                                    <div class="input-info">
                                                        <h3>Müşteri Girişi :</h3>
                                                    </div>
                                                    <div class="form-body form-body-info">
                                                        <form action="/Musteri/MusteriGiris" method="post">
                                                            <div class="form-group">
                                                                <input type="password" class="form-control" placeholder="Kodu Giriniz" name="Kod">
                                                            </div>
                                                            <div class="bottom">
                                                                <div class="form-group">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox">
                                                                            Beni Hatırla
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="submit" class="btn btn-primary">Sisteme Giriş</button>
                                                                </div>
                                                                <div class="clearfix"> </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="col-md-4 abt">
                            <h4>ÜRÜNLERİMİZ</h4>
                            <ul>
                                <li><a href="products.html">TEDARİK ZİNCİRİ YÖNETİMİ</a></li>
                                <li><a href="products.html">MUHASEBE ve FİNANS YÖNETİMİ</a></li>
                                <li><a href="faq.html">İNSAN KAYNAKLARI YÖNETİMİ</a></li>
                                <li><a href="contact.html">MESAJLAŞMA YÖNETİMİ</a></li>
                                <li><a href="contact.html">İŞ TAKİP YÖNETİMİ</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 myac">
                            <h4>HİZMETLERİMİZ</h4>
                            <ul>
                                <li><a href="register.html">EĞİTİM</a></li>
                                <li><a href="checkout.html">YAZILIM GELİŞTİRME</a></li>
                                <li><a href="checkout.html">PROJE YÖNETİMİ</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 our-st">
                            <div class="our-left">
                                <h4>Bize Ulaşın</h4>
                            </div>
                            <ul>
                                <li><i class="add"> </i>Sakarya Üniversitesi Teknopark Binası No: 14 Esentepe Kampüsü Serdivan / SAKARYA</li>
                                <li><i class="phone"> </i>0555 615 30 17</li>
                                <li><i class="phone"> </i>(0543) 801 71 02</li>
                                <li><i class="mail"> </i>kurumsal@kurumsalyazilim.com</li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                        <p>© @DateTime.Now.ToShortDateString()</p>
                    </div>
                    <!-- end content -->
                </div>


                <!--content-->
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
    </div>

    <!--js -->
    <script src="/Content/js/jquery.nicescroll.js"></script>
    <script src="/Content/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <!-- /Bootstrap Core JavaScript -->
    <!-- real-time -->
    <script language="javascript" type="text/javascript" src="/Content/js/jquery.flot.js"></script>
    <script type="text/javascript">
    </script>
    <!-- /real-time -->
    <script src="/Content/js/jquery.fn.gantt.js"></script>
    <script src="/Content/js/menu_jquery.js"></script>
</body>
</html>
